.hero {
    background-color: hsl(0, 0%, 96%);
    margin-bottom: 40px;
}

/* .media-card {
    height: 500px;
}

.is-scrollable {
    height: 300px;
    overflow-y: scroll;
}

.media-img {
    max-height: 300px;
} */