.hero {
    background-color: hsl(0, 0%, 96%);
    margin-bottom: 40px;
}

.media-summary {
    font-family: 'Times New Roman', Times, serif;
}


.media-genre {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.media-authorOrRating {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

#browse-content-container {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    
}

.media-card {
    height: 450px;
}
.is-scrollable {
    height: 325px;
    overflow-y: scroll;
}
.media-img {
    max-height: 325px;
} 

.fixed-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

